/*SINGLE USE CLASSES*/
#mainHead {
	margin: 0;
  text-align: right;
  width: 100%;
  position: absolute;
  top: 175px;
  right: 125px;
  font-size: 45px;
  text-shadow: 0px 0px 5px black;
	animation: titleAni 1s;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
  background-color: #FFFFFF;
  margin: 0 5px 5px 0;
  box-shadow: 2px 0 10px #555555;
  z-index: 1;
	display: flex;
  flex-flow: row nowrap;
}

/*SPECIAL CLASSES*/
.parallaxBanner {
  width: 100%;
  margin: 0;
  background-image: url("assets/snowy.jpeg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 -2px 10px #DDDDDD;
  z-index: -1;
}
.logoTop {
  position: fixed;
  top: 5px;
  right: 5px;
  height: 10%;
  width: auto;
}
.navItem {
  height: 30%;
  margin: 5px;
  padding: 10px;
  background-color: #FFFFFF;
  float: left;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
  line-height: 0.9;
  font-style: oblique;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
	width: 10%;
}
.navItem:hover {
  background-color: #EEEEEE;
}
.navItem:active {
  background-color: #DDDDDD;
}
.activeLink {
  text-decoration: underline black solid 2px;
  box-shadow: 0 2px 3px #DCB50A;
}
.icon {
  height: 80%;
  width: auto;
  margin: 5px;
	display: block;
}
.cardFlexbox {
  height: 500px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.card {
  background-color: #EEEEEE;
  border-radius: 5px;
  box-shadow: 0 2px 2px #555555;
  margin: 15px;
  width: 17%;
	height: fit-content;
}
.card:active {
  background-color: #EFFFEF;
	animation: whiten 0.2s linear;
}
.largeCard {
	background-color: #EEEEEE;
  border-radius: 10px;
  box-shadow: 0 2px 2px #555555;
  margin: 1%;
  width: 48%;
  height: 450px;
	overflow: hidden;
	display: block;
}
.largeCard:active {
  background-color: #EFFFEF;
	animation: whiten 0.2s linear;
}
.imgCardLeft {
	width: 50%;
	height: 100%;
	float: left;
	border-radius: 10px 0 0 10px;
	object-fit: cover;
	margin: 0 15px 0 0;
}
.inlineIcon {
	display: inline;
	width: 1.2em;
	height: auto;
	margin: 0;
}

/*FORMATTING CLASSES*/
.ltf {
	color: #DCB50A;
	text-decoration: none;
}
.ltf:hover {
	color: #DCB50A;
	text-decoration: underline solid #BA9308 1px;
}
a {
	text-decoration: none;
	color: black;
}
.noMargin: {
	margin: 0;
}
.contentBox {
  margin: 20px;
}
.centered {
  text-align: center;
}
p {
  margin: 15px;
	color: black;
	font-size: 25px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.contentBox {
  margin: 2%;
	width: 96%
}
h1 {
  margin-top: 4%;
  font-size: 75px;
  text-align: center;
}
hr {
	background-color: #FFD73C;
	border: 3px solid #FFD73C;
	border-radius: 3px;
	margin: 20px;
	margin-top: 60px;
	margin-bottom: 60px;
}
h2 {
	font-size: 40px;
}
body {
  margin: 0;
  font-family: "Trebuchet MS";
  background-color: #CCEEFF;
}
img {
	border-radius: 10px;
}
h3 {
	margin: 5px;
}
div {
	height: auto;
	width: 100%;
}

/*ANIMATION CLASSES*/
@keyframes whiten {
	from {
		background-color: #EEEEEE;
	}
	to {
		background-color: #EFFFEF;
	}
}

.slideUp {
	animation: slideFromBottom 1s;
}
@keyframes slideFromBottom {
	from {
		opacity: 0;
		transform: translate(0, 50px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes titleAni {
	from {
		opacity: 0;
		transform: translate(-6%, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.slideRightAdd {
	opacity: 0;
}
.slideRight {
	animation: slideFromLeft 1s;
}
@keyframes slideFromLeft {
	from {
		opacity: 0;
		transform: translate(-10%, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.appearAdd {
	opacity: 0;
}
.appear {
	animation: fadeIn 1s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.slideLeft {
	animation: slideFromRight 1s;
}
@keyframes slideFromRight {
	from {
		opacity: 0;
		transform: translate(10%, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.expand {
	box-shadow: 0 2px 2px #555555;
	animation: cardRetract 0.2s;
}
.expand:hover {
	box-shadow: 0 5px 4px #555555;
	animation: cardExpand 0.2s;
}
@keyframes cardExpand {
	from {
		box-shadow: 0 2px 2px #555555;
	}
	to {
		box-shadow: 0 5px 2px #555555;
	}
}
@keyframes cardRetract {
	from {
		box-shadow: 0 5px 5px #555555;
	}
	to {
		box-shadow: 0 2px 2px #555555;
	}
}

.teal {
	background-color: #DDDDDD;
	animation: fromTeal 0.2s;
}
.teal:hover {
	background-color: #009969;
	animation: toTeal 0.5s;
}
@keyframes toTeal {
	from {
		background-color: #DDDDDD;
	}
	to {
		background-color: #009969;
	}
}
@keyframes fromTeal {
	from {
		background-color: #009969;
	}
	to {
		background-color: #DDDDDD;
	}
}

.blue {
	background-color: #DDDDDD;
	animation: fromBlue 0.2s;
}
.blue:hover {
	background-color: #0696CF;
	animation: toBlue 0.5s;
}
@keyframes toBlue {
	from {
		background-color: #DDDDDD;
	}
	to {
		background-color: #0696CF;
	}
}
@keyframes fromBlue {
	from {
		background-color: #0696CF;
	}
	to {
		background-color: #DDDDDD;
	}
}

.green {
	background-color: #DDDDDD;
	animation: fromGreen 0.2s;
}
.green:hover {
	background-color: #30CF1F;
	animation: toGreen 0.5s;
}
@keyframes toGreen {
	from {
		background-color: #DDDDDD;
	}
	to {
		background-color: #30CF1F;
	}
}
@keyframes fromGreen {
	from {
		background-color: #30CF1F;
	}
	to {
		background-color: #DDDDDD;
	}
}

.yellow {
	background-color: #DDDDDD;
	animation: fromGreen 0.2s;
}
.yellow:hover {
	background-color: #F2BF07;
	animation: toYellow 0.5s;
}
@keyframes toYellow {
	from {
		background-color: #DDDDDD;
	}
	to {
		background-color: #F2BF07;
	}
}
@keyframes fromYellow {
	from {
		background-color: #F2BF07;
	}
	to {
		background-color: #DDDDDD;
	}
}

.orange {
	background-color: #DDDDDD;
	animation: fromOrange 0.2s;
}
.orange:hover {
	background-color: #C43800;
	animation: toOrange 0.5s;
}
@keyframes toOrange {
	from {
		background-color: #DDDDDD;
	}
	to {
		background-color: #C43800;
	}
}
@keyframes fromOrange {
	from {
		background-color: #C43800;
	}
	to {
		background-color: #DDDDDD;
	}
}

.pink {
	background-color: #DDDDDD;
	animation: fromPink 0.2s;
}
.pink:hover {
	background-color: #FF1FDA;
	animation: toPink 0.5s;
}
@keyframes toPink {
	from {
		background-color: #DDDDDD;
	}
	to {
		background-color: #FF1FDA;
	}
}
@keyframes fromPink {
	from {
		background-color: #FF1FDA;
	}
	to {
		background-color: #DDDDDD;
	}
}